
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://rare-gallery.com/uploads/posts/5372482-seats-seating-red-red-chairs-cinema-room-cinema-cinema-seats-seat-theatre-theater-chair-dark-movie-room-darkness-dark-room-sofa-velvet-chairs-repetition-repetitive-creative-commons-images.jpg);">
  <div class="container">
    <h1>Deanna's Watch List Database</h1>
  </div>
</div>

<div class="container">
  <% if @lists.empty? %>
  <p>No lists. <%= link_to "Make one?", new_list_path %></p>
  <% else %>
    <% @lists.each do |l| %>
    <h2><%= link_to l.name, list_path(l) %></h2>
    <% end %>
  <% end %>

  <%= link_to "Create a new Watch List", new_list_path  %>
</div>
